<% if current_user %>
  <h4>Menu</h4>
  <ul>
    <li><a href="/">User Home</a></li>
    <li><a href="/admin">Admin Home</a></li>
    <li><a href="/admin/hello">Admin Hello Page</a></li>
    <li><a href="/api/monkeys?token=VENDOR&format=json">API Json Response</a></li>
    <li><a href="/api/monkeys?token=VENDOR&format=xml">API XML Response</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
<% end %>
