<h2>Login with User or Admin</h2>

<form action="/session" method="post" name="login">
  <fieldset>
    <p>
      <label for="login">Username</label><br/>
      <input id="login" name="login" type="text" class="text" />
    </p>
    <p>
      <input value="Login" type="submit" class="submit" />
    </p>
  </fieldset>
</form>
