<% if current_user %>
  <h4>User App</h4>
  <li><a href="/">/</a></li>
  <li><a href="/redirect">/redirect</a></li>
  <li><a href="/logout">/logout</a></li>

  <h4>Admin App</h4>
  <li><a href="/admin">/admin</a></li>
  <li><a href="/admin/redirect">/admin/redirect</a></li>
  <li><a href="/admin/logout">/admin/logout</a></li>
  <li><a href="/admin/hello">/admin/hello</a></li>

  <h4>API App</h4>
  <li><a href="/api/monkeys?token=VENDOR&format=xml" 
       >/api/monkeys?token=VENDOR&format=xml</a></li>
  <li><a href="/api/monkeys?token=VENDOR&format=json"
       >/api/monkeys?token=VENDOR&format=json</a></li>
<% end %>