<h2>Login to the Admin Section</h2>

<form action="/admin/session" method="post" name="login">
  <fieldset>
    <p>
      <label for="login">Username</label><br/>
      <input id="login" name="login" type="text" class="text" />
    </p>
    <p>
      <label for="password">Password</label><br/>
      <input id="password" name="password" type="password" class="text" />
    </p>
    <p>
      <input value="Login" type="submit" class="submit" />
    </p>
  </fieldset>
</form>
